.container{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: darkred;
    height: 455px;
    width: 300px;
}
.coke{ 
    align-self: center;
    margin-bottom: 100px;
    background-color: white;
    height: 200px;
    width: 5px;
}

.title{
    color: yellow;
    }
.bottomtext {
    font-size: 9px;
    font
}